<%= render "shared/header"%>

<!-- main -->
<main class="main">
  <div class="first-view">
    <div class="first-view-text">
      <h1>Imagination will <br>take you everywhere.<h1>
        <p>コーヒーを待つ時間も、特別なひと時になる。</p>
    </div>
  </div>
    <div class="lead">
      <p>「想像力はあなたをどこにでも連れて行ってくれる」
      <br>注文を待つ間に広げた、一冊の本の中に見つけたことば。
      <br>ゆったり流れる時間の中で、想像をふくらませる楽しさを思い出す。
      <br>そんな時間を過ごすとき、おいしいコーヒーがあるとうれしい。</p>
    </div>
    <div class="link-button-area">
      <a class="link-button" >CONCEPT</a>
    </div>
  <%# <%= link_to concept_path class: "link-button-area" %>
  </div>
  <div class="recommended">
    <h2>RECOMMENDED</h2>
    <ul class="item-list">
      <li>
        <%= image_tag "index/img-item01.jpg", class: "menu-img"%>
      <dl>
        <dt>カフェラテ</dt>
        <dd>エスプレッソとミルク、この組み合わせに勝るものはなかなか見つかりません。ホッとしたいとき、やっぱりラテが欲しくなる</dd>
      </dl>
      <p class="price">¥460</p>
      </li>
      <li>
        <%= image_tag "index/img-item02.jpg", class: "menu-img"%>
      <dl>
        <dt>レーズンバターサンド</dt>
        <dd>コーヒーに合うお菓子を追求して生まれた当店の大人気メニュー。数量、季節ともに限定のため、見つけたらぜひお試しを。</dd>
      </dl>
      <p class="price">¥480</p>
      </li>
      <li>
        <%= image_tag "index/img-item03.jpg", class: "menu-img"%>
      <dl>
        <dt>アメリカーノ</dt>
        <dd>浅煎りの豆をこだわりの配合でブレンドした、スッキリと爽やかな飲み口の当店看板メニュー。ホットでもアイスでも。</dd>
      </dl>
      <p class="price">¥420</p>
      </li>
      <li>
        <%= image_tag "index/img-item04.jpg", class: "menu-img"%>
      <dl>
        <dt>レモネード</dt>
        <dd>瀬戸内海に浮かぶ小島で、オーナー自らが栽培したとっておきのレモンを、たっぷりと使った自慢のレモネードです。</dd>
      </dl>
      <p class="price">¥420</p>
      </li>
      <li>
        <%= image_tag "index/img-item05.jpg", class: "menu-img"%>
      <dl>
        <dt>ホットドッグ - チリ</dt>
        <dd>ちょっと小腹が空いた時、あると嬉しいホットドッグ。特製チリソースとチーズをかければ、もう言葉はいりません。</dd>
      </dl>
      <p class="price">¥540</p>
      </li>
    </ul>
    <div class="link-button-area">
      <a class="link-button" >MENU</a>
    </div>

  </div>
</main>

<%= render "shared/footer"%>
